/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
  /* HSL color mode */
  --first-color: #1f2734;
  --first-color-second: #151a24;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: #0e1117;
  /* --body-color: #1f2734; */
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*========== Variables Dark theme ==========*/
/*========== Button Dark/Light ==========*/
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 1268px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

/* navbar */

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--mb-1) auto;
}

.website__title {
  color: white;
}

.website__title_half {
  color: red;
}

.navbar__links {
  color: white;
  margin: 0 var(--mb-1);
}

/* banner */

.banner {
  margin: var(--mb-2-5) 0;
}

.banner__container {
  max-width: 1168px;
  margin: 0 auto;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: start;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: right;
}

/* show scroll */

.category {
  margin-bottom: 30px;
}

.category-item-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.category-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  scroll-snap-align: start;
}

/* shows item */

.shows__heading {
  color: white;
  padding: 0;
}

.shows {
  display: flex;
  overflow-x: scroll;
  margin: var(--mb-1) auto;
  max-width: 1168px;
}

.showcase__container {
  max-width: 1168px;
}

.shows__item_container {
  margin-right: 1.15em;
  max-width: 12rem;
  min-width: 12rem;
}

.showcase__banner > img {
  /* width: 20%; */
  border-radius: 10px;
  opacity: 0.85;
}

.show__img:hover {
  transition: 0.2s ease;
  transform: scale(1.025);
  opacity: 1;
}

.showcase__content {
  margin-left: var(--mb-0-25);
}

.showcase__language {
  color: rgba(169, 169, 169, 0.839);
}

.showcase__title {
  color: rgba(239, 239, 239, 0.951);
}
.showcase__title:hover {
  color: white;
}
.price {
  color: rgba(169, 169, 169, 0.839);
}

/* show component css */
.show_container {
  margin: var(--mb-2) auto;
}
.main__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.available {
  margin-top: var(--mb-0-5);
  cursor: pointer;
  color: #8c8d92;
}

.available:hover {
  color: white;
}

.main__heading {
  color: white;
}

.ratings {
  color: white;
  margin-top: -10px;
}

.small__description {
  color: #8c8d92;
}

.show__content {
  margin: var(--mb-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description__box {
  margin: 1rem 0;
  max-width: 60vmax;
}

.description__text {
  text-align: center;
  color: rgb(187, 187, 187);
}

.form__button {
  display: flex;
  justify-content: center;
}

.form__button > button {
  background-color: #797979;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  font-size: 1.25rem;
  box-shadow: 4px 4px white;
  cursor: pointer;
}

.form__button > button:hover {
  background-color: white;
  color: #414141;
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  font-size: 1.25rem;
  box-shadow: 4px 4px #797979;
}

/* book ticket */

.form__container {
  margin: 10rem auto;
  height: 40vh;
}

.form__heading {
  color: white;
}

.form__subheading {
  color: darkgray;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__main {
  width: 15rem;
  height: var(--placeholder_height);
  margin-bottom: var(--mb-1);
  font-size: var(--placeholder_font_size);
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: #f4f4f4;
  box-shadow: 0.05em 0.05em 0.05em rgba(126, 126, 126, 0.3);
}
.input__main:focus {
  background-color: white;
}
.submit__button {
  width: 15rem;
  height: 2.5rem;
  margin-bottom: var(--mb-3);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  border: none;
  border-radius: 8px;
  background-color: #4294fe;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.submit__button:hover {
  background-color: rgb(224, 101, 101);
}

/* footer */

.footer__container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-top: 3rem;
}

.secion__title_footer {
  color: white;
}

.secion__title_footer_half {
  color: red;
}

.section__subtitle_footer {
  max-width: 60vmax;
  text-align: center;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav__link-footer {
  color: white;
  font-size: 1.75rem;
  margin: var(--mb-1) var(--mb-0-75);
}

.copyright {
  margin: 1rem 0;
}

/*-----------------------------------*\
  #RESPONSIVE
\*-----------------------------------*/

/**
 * responsive larger than 480px screen
 */

@media (min-width: 300px) {
  .footer__container {
    padding: 0 1rem;
  }
  .navbar__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-img{
    margin: 0 2rem;
    height: 55px;
  }
  .shows{
    padding: 0 2rem;
  }
  .shows__heading
  {
    padding: 0 2rem;
  }
}

/**
 * responsive larger than 480px screen
 */

@media (min-width: 480px) {
  .footer__container {
    padding: 0 2rem;
  }
  .banner-img{
    margin: 0 2rem;
  }
  .shows{
    padding: 0 2rem;
  }
  .shows__heading
  {
    padding: 0 2rem;
  }
}

/**
 * responsive larger than 570px screen
 */

@media (min-width: 570px) {
  .shows__heading
  {
    padding: 0 2rem;
  }
  .shows{
    padding: 0 2rem;
  }
  .banner-img{
    margin: 0 2rem;
  }
}

/**
* responsive larger than 768px screen
*/

@media (min-width: 768px) {
  .navbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: var(--mb-1) auto;
    padding: 0 2rem;
  }
  .show_container {
    padding: 0 2rem;
  }
  .shows__heading
  {
    padding: 0 2rem;
  }
  .banner-img{
    margin: 0 2rem;
  }
}

/**
 * responsive larger than 1024px screen
 */

@media (min-width: 1024px) {
  .shows__heading
  {
    padding: 0 2rem;
  }
  .shows{
    padding: 0 2rem;
  }
  .banner-img{
    margin: 0 2rem;
  }
}
/**
 * responsive larger than 1200px screen
 */

@media (min-width: 1200px) {
  .shows__heading
  {
    padding: 0;
  }
  .shows{
    padding: 0;
  }
  .banner-img{
    padding: 0;
  }
}

/**
 * responsive larger than 1400px screen
 */

@media (min-width: 1400px) {
}
